html, body {
    margin: 0;
    padding: 0;
}
#outer-box{
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    border-radius: 4%;
    height: 550px;
    width: 550px;
}
#header-tools{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    border: 1px yellow solid;
}
#color-picker{
    height: 46%;
    border: 0.5px solid #313131;
    border-radius: 4px;
}
#color-scheme{
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    height: 46%;
    width: 325px;
}
#get-color-scheme{
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    height: 46%;
}
#color-boxes{
    display: flex;
    height: 75%;
    border: 1px purple solid;
}
#hex-codes{
    display: flex;
    height: 10%;
    border: 1px red solid;
}
#color-box1,
#color-box2,
#color-box3,
#color-box4,
#color-box5{
    border: 1px solid green;
    width: 20%;
}
#hex-code1,
#hex-code2,
#hex-code3,
#hex-code4,
#hex-code5{
    border: 1px solid pink;
    width: 20%; 
}