html, body {

    background-color: darkgrey;
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
}
#outer-box{
    margin: 50px auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4%;
    height: 550px;
    width: 550px;
}
#header-tools{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
}
#color-picker{
    height: 46%;
    border-radius: 4px;
}
#color-scheme{
    border-radius: 6px;
    height: 46%;
    width: 325px;
}
#get-color-scheme{
    background-color: white;
    border-radius: 4px;
    height: 46%;
}
#color-boxes{
    display: flex;
    height: 75%;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}
#hex-codes{
    display: flex;
    height: 10%;
}
#color-box0,
#color-box1,
#color-box2,
#color-box3,
#color-box4{
    width: 20%;
}
#hex-code0,
#hex-code1,
#hex-code2,
#hex-code3,
#hex-code4{
    font-weight: 500;
    width: 20%;
    text-align: center;
    margin: auto;
}
